// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

#include "stm32mp157-m4-srm.dtsi"
#include "stm32mp157-m4-srm-pinctrl.dtsi"

/ {
	memory@c0000000 {
		device_type = "memory";
		reg = <0xC0000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		mcuram2: mcuram2@10000000 {
			compatible = "shared-dma-pool";
			reg = <0x10000000 0x40000>;
			no-map;
		};

		vdev0vring0: vdev0vring0@10040000 {
			compatible = "shared-dma-pool";
			reg = <0x10040000 0x1000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@10041000 {
			compatible = "shared-dma-pool";
			reg = <0x10041000 0x1000>;
			no-map;
		};

		vdev0buffer: vdev0buffer@10042000 {
			compatible = "shared-dma-pool";
			reg = <0x10042000 0x4000>;
			no-map;
		};

		mcuram: mcuram@30000000 {
			compatible = "shared-dma-pool";
			reg = <0x30000000 0x40000>;
			no-map;
		};

		retram: retram@38000000 {
			compatible = "shared-dma-pool";
			reg = <0x38000000 0x10000>;
			no-map;
		};
	};

	led {
		compatible = "gpio-leds";

		run {
			label = "run";
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
			status = "okay";
		};

		com {
			label = "com";
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			status = "okay";
		};

		err {
			label = "err";
			gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			status = "okay";
		};
	};

	vin: vin {
		compatible = "regulator-fixed";
		regulator-name = "vin";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vddcore: vddcore {
		compatible = "regulator-fixed";
		regulator-name = "vddcore";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
		regulator-boot-on;
		lp-stop {
			regulator-on-in-suspend;
		};
		standby-ddr-sr {
			regulator-off-in-suspend;
		};
		standby-ddr-off {
			regulator-off-in-suspend;
		};
	};

	vdd_ddr: vdd_ddr {
		compatible = "regulator-fixed";
		regulator-name = "vdd_ddr";
		regulator-min-microvolt = <1350000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on;
		regulator-boot-on;
		lp-stop {
			regulator-on-in-suspend;
		};
		standby-ddr-sr {
			regulator-on-in-suspend;
		};
		standby-ddr-off {
			regulator-off-in-suspend;
		};
	};

	vtt_ddr: vtt_ddr {
		compatible = "regulator-fixed";
		regulator-name = "vtt_ddr";
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <675000>;
		regulator-always-on;
		regulator-boot-on;
		lp-stop {
			regulator-off-in-suspend;
		};
		standby-ddr-sr {
			regulator-off-in-suspend;
		};
		standby-ddr-off {
			regulator-off-in-suspend;
		};
	};

	vdd: vdd {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		lp-stop {
			regulator-on-in-suspend;
		};
		standby-ddr-sr {
			regulator-on-in-suspend;
		};
		standby-ddr-off {
			regulator-on-in-suspend;
		};
	};

	vdd_usb: vdd_usb {
		compatible = "regulator-fixed";
		regulator-name = "vdd_usb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		standby-ddr-sr {
			regulator-on-in-suspend;
		};
		standby-ddr-off {
			regulator-on-in-suspend;
		};
	};

	vdd_eth: vdd_eth {
		compatible = "regulator-gpio";
		regulator-name = "vdd_eth";
		regulator-type = "voltage";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
       	gpios-states = <1>;
       	states = <3300000 1 0 0>;	
	};

	vdd_wifi: vdd_wifi {
		compatible = "regulator-gpio";
		regulator-name = "vdd_wifi";
		regulator-type = "voltage";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		enable-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
		states = <3300000 0>;
	};
};

&adc {
	pinctrl-names = "default";
	pinctrl-0 = <&adc12_pins_default>;
	vdd-supply = <&vdd>;
	vdda-supply = <&vdd>;
	vref-supply = <&vrefbuf>;
	status = "disabled";
	adc1: adc@0 {
		/*
		 * Power supply voltage
		 */
		st,min-sample-time-nsecs = <5000>;
		st,adc-channels = <3>;
		status = "okay";
	};

	adc2: adc@100 {
		status = "okay";
	};
};

&cpu0{
	cpu-supply = <&vddcore>;
};

&cpu1{
	cpu-supply = <&vddcore>;
};

&crc1 {
	status = "okay";
};

&dma1 {
	sram = <&dma_pool>;
};

&dma2 {
	sram = <&dma_pool>;
};

&dts {
	status = "okay";
};

&ethernet0 {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&eth0_pins_default>;
	pinctrl-1 = <&eth0_pins_sleep>;
	max-speed = <100>;
	phy-mode = "rmii";
	phy-supply = <&vdd_eth>;
	phy-handle = <&phy0>;
	phy-reset-gpios = <&gpioe 2 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>; /* millisecond */

	mdio: ksz8794@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy0: ksz8794-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&hash1 {
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_default>;
	pinctrl-1 = <&i2c2_pins_sleep>;
	clock-frequency = <100000>;
	status = "okay";
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;

	usb2514b: usb-hub@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
		reset-gpios = <&gpioe 6 GPIO_ACTIVE_LOW>;
		string-support;
		manufacturer = "GMT Control";
		product = "smartPLC-SBC";
		serial = "1234567890A";
		/* correct misplaced usb connectors on port 1,2 */
		swap-dx-lanes = <1 2>;

		/* modem on port 1 */
		/* gnss on port 2 */
	};
};

&ipcc {
	status = "okay";
};

&iwdg2 {
	timeout-sec = <32>;
	status = "okay";
};

&m4_rproc {
	memory-region = <&retram>, <&mcuram>, <&mcuram2>, <&vdev0vring0>,
			<&vdev0vring1>, <&vdev0buffer>;
	mboxes = <&ipcc 0>, <&ipcc 1>, <&ipcc 2>;
	mbox-names = "vq0", "vq1", "shutdown";
	interrupt-parent = <&exti>;
	interrupts = <68 1>;
	wakeup-source;
	status = "okay";
};

&pwr_regulators {
	vdd-supply = <&vdd>;
	vdd_3v3_usbfs-supply = <&vdd_usb>;
};

&rng1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&sdmmc1 {
	arm,primecell-periphid = <0x10153180>;
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_pins_default>;
	pinctrl-1 = <&sdmmc1_pins_opendrain>;
	pinctrl-2 = <&sdmmc1_pins_sleep>;
	non-removable;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&vdd_wifi>;
	mmc-pwrseq = <&wifi_pwrseq>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "disabled";
};

&sram {
	dma_pool: dma_pool@0 {
		reg = <0x50000 0x10000>;
		pool;
	};
};

&timers1 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@0 {
		status = "okay";
	};
};

&timers3 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@2 {
		status = "okay";
	};
};

&timers4 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@3 {
		status = "okay";
	};
};

&timers5 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@4 {
		status = "okay";
	};
};

&timers6 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@5 {
		status = "okay";
	};
};

&timers12 {
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
	timer@11 {
		status = "okay";
	};
};

&qspi {                                                    
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&qspi_clk_pins_default &qspi_bk1_pins_default &qspi_bk2_pins_default>;
	pinctrl-1 = <&qspi_clk_pins_sleep &qspi_bk1_pins_sleep &qspi_bk2_pins_sleep>;
	reg = <0x58003000 0x1000>, <0x70000000 0x8000000>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	flash0: w25n01gv@0 {                             
		compatible = "spi-nand";
		reg = <0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		spi-max-frequency = <100000000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

	flash1: w25q128jv@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&usart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart2_pins_default>;
	pinctrl-1 = <&usart2_pins_sleep>;
	status = "okay";
};

&usart3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart3_pins_default>;
	pinctrl-1 = <&usart3_pins_sleep>;
	status = "okay";
};

&usbphyc {
	status = "okay";
};

&usbphyc_port0 {
	phy-supply = <&vdd_usb>;
	vdda1v1-supply = <&reg11>;
	vdda1v8-supply = <&reg18>;
};

&usbphyc_port1 {
	phy-supply = <&vdd_usb>;
	vdda1v1-supply = <&reg11>;
	vdda1v8-supply = <&reg18>;
};

&usbh_ehci {
	phys = <&usbphyc_port0>;
	status = "okay";
};

&usbotg_hs {
	vbus-supply = <&vin>;
	vusb_d-supply = <&vdd_usb>;
	vusb_a-supply = <&reg18>;
	phys = <&usbphyc_port1 0>;
	phy-names = "usb2-phy";
	dr_mode = "peripheral";
	status = "okay";
};

&vrefbuf {
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	vdda-supply = <&vdd>;
	status = "okay";
};
